KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*cvd*", SYMLINK+="sirf-cvbs"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*display0*vout0*",  SYMLINK+="sirf-display0-vout0"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*display0*vout1*",  SYMLINK+="sirf-display0-vout1"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*display0*vout2*",  SYMLINK+="sirf-display0-vout2"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*display1*vout0*",  SYMLINK+="sirf-display1-vout0"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*display1*vout1*",  SYMLINK+="sirf-display1-vout1"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*display1*vout2*",  SYMLINK+="sirf-display1-vout2"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*it68013*", SYMLINK+="sirf-hdmi-input"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*hdmi*output0*", SYMLINK+="sirf-hdmi-output0"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*hdmi*output0*", SYMLINK+="sirf-hdmi-output0"
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{name}=="*hdmi*output0*", SYMLINK+="sirf-hdmi-output0"
