[Unit]
Description=OpenSSH Key Generation
ConditionPathExists=|!/var/lib/ssh/ssh_host_rsa_key
ConditionPathExists=|!/var/lib/ssh/ssh_host_dsa_key
ConditionPathExists=|!/var/lib/ssh/ssh_host_ecdsa_key

[Service]
ExecStart=/bin/sh /usr/bin/sshdgenkeys.sh
Type=oneshot
RemainAfterExit=yes
