on early-init
    start ueventd

on init
    export PATH /sbin:/bin:/usr/bin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mount /tmp /tmp tmpfs

    mkdir /sdcard/cache

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service console /bin/sh
    console
    disabled
    user root
    group root

on property:ro.secure=0
    start console
